@font-face {
	font-family: letra;
	src: url("../assets/Fuked\ Free\ Trial.ttf");
}
@import url('https://fonts.googleapis.com/css2? family = Architects + Daughter & display = swap');
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter&family=Hind+Guntur:wght@600&display=swap');

body {
	margin: 0;
	background-color: #e4d6cb;
	background-image: linear-gradient(to bottom,#e4d6cb, white);
	font-family:"Architects Daughter", sans-serif;
}

header, footer {
	background-color: white;
	display: flex;
	justify-content: space-between;
	padding: 30px;
	align-items: center;
}


.navbar-brand img{
	width:60px;
}

h2{
	font-size:50px;
	text-align: center;
}

#livingCocina{
	background-color: #cb997e;
	
}

#livingCocina img{
	width: 100%;
	height: 500px;

}

#dormitorio img{
	width: 350px;
	height: 400px;
}

p{
	margin-left: 60px;
}

/*SECTION CONTACTOS*/
.gradiente-menu {
	/*aplicando for*/ }
	.gradiente-menu a {
	  color: black !important; }
	.gradiente-menu a:nth-child(1) {
	  opacity: 0.85; }
	.gradiente-menu a:nth-child(2) {
	  opacity: 0.7; }
	.gradiente-menu a:nth-child(3) {
	  opacity: 0.55; }
	.gradiente-menu a:nth-child(4) {
	  opacity: 0.4; }
	.gradiente-menu a:nth-child(5) {
	  opacity: 0.25; }
  
  .padding, .formulario, .footer {
	padding-top: 50px;
	padding-bottom: 40px; }
  
  .formulario {
	/*aplique @extend- @mixin- @include*/ }
  
  .texto1 {
	font-family: "caveat";
	font-size: 30px;
	line-height: 1.5em;
	margin: 5px;
	text-align: justify;
	padding-bottom: 20px; }
  
  .texto2 {
	padding: 5px;
	font-family: "danc";
	font-size: 30px;
	line-height: 1.5em;
	margin: 5px; }
  
  .formulario__subtitulo {
	font-size: 50px;
	font-family: "franco";
	padding-top: 10px;
	padding-bottom: 50px; }
  
  .formulario__imagen {
	grid-area: imagen;
	max-width: 100%; }
  
  /*section quienes somos*/
  .nosotros__parrafo1 {
	font-size: 40px;
	font-family: "caveat";
	padding-top: 5px;
	padding-bottom: 50px;
	margin: 8px;
	text-align: justify; }
  
  .nosotros__parrafo2 {
	font-size: 30px;
	font-family: "danc";
	text-align: justify;
	padding-top: 40px;
	padding-bottom: 60px; }
  
footer {
	display: flex;
	justify-content: center;
	padding-top: 60px;
	background-color:rgb(187, 192, 192);
}

footer ul{
	list-style: none;
	padding: 0;

}
footer img{
	width: 30px;
}
footer ul li{
	display: inline;
	margin: 0 20px;
}
